@import url("../icomoon/style.css");
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(20, 20, 20);
}

main .App-link {
  color: #4e9aff;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
}

/* svg animation */

.machine {
  width: 100px;
}

main {
  text-align: center;
  margin-top: 24px;
}

main {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

main ul {
  list-style: none;
  padding-left: 0;
}

main li {
  list-style: none;
  padding-left: 0;
  margin-bottom: 16px;
}

main i {
  color: black;
}
